
input[type=text]{
  width:25%;
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
  margin: 5px;
}
select {
  width:25%;
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
  margin: 5px;  
}

button {
  width:10%;
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
  background-color: lightseagreen;
}

li {
list-style: none;
}

.itemList {
    margin-left: 20%;
    border: 1px solid;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 2%;
    padding: 10px;
    margin-right: 20%;
}

.todoListApp {
  text-align: center;
}

input[type=button]
{
 border: 1px solid; 
 border-radius: 4px;
 margin: 2px;
 background-color: lightseagreen;
}